@using EntityLayer.Concrete
@model List<WriterMessage>
@{
    ViewData["Title"] = "SenderMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>SenderMessage</h1>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Inbox</h4>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Receiver</th>
                            <th>Date</th>
                            <th>Details</th>
                       


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                          
                            <tr>
                                <th>@item.WriterMessageID</th>
                                <td>@item.Subject</td>
                                <td>@item.ReceiverName</td>
                  
                                <td>@item.Date</td>

                        
                                <td><a href="/Writer/Message/MessageDetails/@item.WriterMessageID" class="btn btn-outline-primary">Show Message</a></td>


                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>