@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Card header -->
<div class="card-header border-0">
    <h3 class="mb-0">Service Adding Table</h3>
</div>
<br />
<br />
@using (Html.BeginForm("AddService", "Service", FormMethod.Post))
{
    @Html.Label("Title")



@Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
<br />
@Html.Label("ImageUrl")
@Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
<br />
<br />

<button class="btn btn-primary">SAVE</button>
}



