<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/ReceiverMessage">
                <i class="ti-notepad menu-icon"></i>
                <span class="menu-title">
                    Incoming Messages
                </span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage">
                <i class="ti-agenda menu-icon"></i>
                <span class="menu-title">

                    Sent Messages
                </span>

            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage">
                <i class="ti-cloud menu-icon"></i>
                <span class="menu-title">

                    New Message
                </span>

            </a>

        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">Announcements</span>

            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href=/Writer/Profile/Index>
                <i class="ti-microphone menu-icon"></i>
                <span class="menu-title">Profile</span>

            </a>

        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/Index">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Sign Out</span>
            </a>
        </li>
    </ul>
</nav>