@using EntityLayer.Concrete
@model List<Message>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Message List Table</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Sender</th>
                            <th>Mail</th>
                            <th>Date</th>
                            <th>Delete</th>
                            <th>Show Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td> @item.MessageID</td>

                                <td> @item.Name  </td>

                                <td> @item.Mail</td>
                                <td> @item.Date</td>
                                
                                <td><a href="/Contact/DeleteContact/@item.MessageID" class="btn btn-danger">DELETE</a></td>
                                <td><a href="/Contact/ContactDetails/@item.MessageID" class="btn btn-danger">Show Message</a></td>


                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/js/vendor.bundle.base.js"></script>
